@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-3"></div>
    <div class="text-center col-6">
        <h1 class="display-4">Print Service</h1>
        <ul class="list-group ">
            @if (User.IsInRole("Client"))
            {
                <a href="/MyOrders" class="list-group-item list-group-item-action list-group-item-primary">My orders</a>
            }
            @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
            {
                <a asp-page="/ManageOrders" asp-route-type="unprocessed" class="list-group-item list-group-item-action list-group-item-primary">Unprocessed orders</a>
                <a asp-page="/ManageOrders" asp-route-type="all" class="list-group-item list-group-item-action list-group-item-primary">All orders</a>            }
            @if (User.IsInRole("Admin"))
            {
                <a asp-page="/ManageStaff" class="list-group-item list-group-item-action list-group-item-primary">Manage staff</a>            }
        </ul>
    </div>
</div>