@page
@using System.Collections
@model TRPZ_PrintService.Pages.MyOrders

@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "My orders";
}

<h2>My orders</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            Order ID
        </th>
        <th>
            Status
        </th>
        <th>
            Creation date
        </th>
        <th>
            Models
        </th>
        <th>
            &nbsp;
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var order in Model.Orders)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => order.OrderId)
            </td>
            <td>
                @if (order.IsSent)
                {
                    <span>Sent</span>
                }
                else if (order.IsConfirmed)
                {
                    <span>Confirmed</span>
                }
                else if (order.IsFinished)
                {
                    <span>Finished</span>
                }
                else
                {
                    <span>Not sent</span>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => order.Timestamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => order.Models.Count)
                @* TODO add edit button *@
                <button></button>
            </td>
            <td>

            </td>
        </tr>
    }
    </tbody>
</table>
@* TODO add modal add window*@
<button type="button" class="btn btn-primary" asp-page-handler="Create">
    New Order
</button>

@* <div class="modal fade bs-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true"> *@
@* *@
@*     <div class="modal-dialog"> *@
@* *@
@*         <!-- Modal Content: begins --> *@
@*         <div class="modal-content"> *@
@* *@
@*             <!-- Modal Header --> *@
@*             <div class="modal-header"> *@
@*                 <button type="button" class="close" data-dismiss="modal" aria-label="Close"> *@
@*                     <span aria-hidden="true">&times;</span> *@
@*                 </button> *@
@*                 <h4 class="modal-title" id="gridSystemModalLabel">Your Headings</h4> *@
@*             </div> *@
@* *@
@*             <!-- Modal Body --> *@
@*             $1$ TODO add asp action #1# *@
@*             <form asp-page-handler="Create"> *@
@*                 <div class="modal-body"> *@
@*                     <div class="body-message"> *@
@*                         <h4>Any Heading</h4> *@
@*                         <label>Project Name</label> *@
@*                         <input class="form-control" type="text" asp-for="Name"/><br/> *@
@*                         <label>Project Name</label> *@
@*                         <input class="form-control" type="text" asp-for="Type"/><br/> *@
@*                     </div> *@
@*                 </div> *@
@* *@
@*                 <!-- Modal Footer --> *@
@*                 <div class="modal-footer"> *@
@*                     <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button> *@
@*                     <button type="submit" class="btn btn-primary">Save</button> *@
@*                 </div> *@
@*             </form> *@
@* *@
@*         </div> *@
@*         <!-- Modal Content: ends --> *@
@* *@
@*     </div> *@
@* </div> *@